@charset "utf-8";
@import url(reset.css);
@import url(../font/font.css);

body {
    color: #eeeeee;
    font-family: "pretendard";
    line-height: 1.5;
    background-color: #282019;
    /*     overflow-x: hidden; */
}

h2 {
    font-family: "Eulyoo1945";
    font-size: 36px;
    line-height: 1.3;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.btn-more {
    font-size: 16px;
    padding: 4px 16px;
    display: inline-flex;
    align-items: center;
}

.btn-more span {}

.btn-more img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    display: block;
}

.btn-more.dark {
    border: 1px solid #463a2f;
    color: #463a2f;
    transition: 0.3s;
}

.btn-more.dark:hover {
    border: 1px solid #463a2f;
    color: #ffffff;
    background-color: #463a2f;
}

.btn-more.dark img {
    filter: brightness(0) saturate(100%) invert(7%) sepia(8%) saturate(3430%) hue-rotate(346deg) brightness(94%) contrast(84%);
}

.btn-more.dark:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(269deg) brightness(104%) contrast(103%);
    transition: 0.3s;
}

.btn-more.white {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-more.white:hover {
    border: 1px solid #ffffff;
    color: #463a2f;
    transition: 0.3s;
    background-color: #ffffff;
}

.btn-more.white:hover img {
    filter: brightness(0) saturate(100%) invert(7%) sepia(8%) saturate(3430%) hue-rotate(346deg) brightness(94%) contrast(84%);
    transition: 0.3s;
}


#header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #282019;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 3.33%;
    margin: 0 auto;
}

#header .inner .bg {
    height: 60px;
    width: 100%;
    background-color: #282019;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

#header .inner .bg span {
    position: absolute;
    left: -999999px;
}

#header .inner .logo {
    width: 79px;
    height: 56px;
}

#header .inner .logo a {}

#header .inner .logo a img {
    width: 100%;
    display: block;
}

#header .inner .nav_pc {}

#header .inner .nav_pc .gnb {
    display: flex;
    column-gap: 80px;
    font-size: 18px;
}

#header .inner .nav_pc .gnb>li {
    display: flex;
    align-items: center;
}

#header .inner .nav_pc .gnb>li .depth-01 {
    height: 80px;
    line-height: 80px;
    display: block;
}

#header .inner .nav_pc .gnb>li .depth-02 {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    top: 80px;
    gap: 28px;
    white-space: nowrap;
    display: none;
}

#header .inner .nav_pc .gnb>li .depth-02 li {
    font-size: 16px;
    font-weight: 300;
}

#header .inner .nav_pc .gnb>li .depth-02 li a {}

#header .inner .util {
    display: flex;
    align-items: center;
    column-gap: 24px;
    font-size: 14px;
}

#header .inner .util>li {}

#header .inner .util>li a {}

#header .inner .util>li .icon_wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

#header .inner .util>li .icon_wrap li {}

#header .inner .util>li .icon_wrap li a {
    display: block;
    width: 24px;
    height: 24px;
}

#header .inner .util>li .icon_wrap li a img {
    width: 100%;
    height: 100%;
}

#header .inner .menu_btn {
    width: 24px;
    height: 24px;
    padding: 0;
}

#header .inner .menu_btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header .mobile {
    display: none;
}

#header .inner .nav_mobile {
    position: fixed;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color: #241c15;
    padding: 60px 0;
    width: 72.06%;
    transition: 0.5s;
    height: 100%;
}

#header .inner .nav_mobile.active {
    right: 0;
    transition: 0.5s;
}

#header .inner .nav_mobile .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 40px;
}

#header .inner .nav_mobile .toolbar .close_btn {
    padding: 0;
    order: 1;
}

#header .inner .nav_mobile .toolbar .close_btn img {}

#header .inner .nav_mobile .toolbar .icon_wrap {
    display: flex;
    gap: 20px;
}

#header .inner .nav_mobile .util {
    padding: 0 40px;
    margin-bottom: 62px;
}

#header .inner .nav_mobile .gnb {}

#header .inner .nav_mobile .gnb li {}

#header .inner .nav_mobile .gnb>li .depth-01 {
    padding: 0 40px;
    font-size: 18px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    position: relative;
}

#header .inner .nav_mobile .gnb>li .depth-01::before {
    content: "";
    background: url(../img/icon/icon_moreBottom-white.svg) center center / 100% no-repeat;
    position: absolute;
    width: 16px;
    height: 100%;
    top: 0;
    right: 40px;
    z-index: 11;
}

#header .inner .nav_mobile .gnb>li .depth-01.noDepth-02::before {
    content: none;
}

#header .inner .nav_mobile .gnb>li .depth-02 {
    background-color: #1c0f00;
    display: none;
}

#header .inner .nav_mobile .gnb>li .depth-02 li {
    display: flex;
}

#header .inner .nav_mobile .gnb>li .depth-02 li a {
    padding: 0 40px;
    font-size: 14px;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.section0 .main .main_visual {
    height: 100vh;
    position: relative;
}

.section0 .main .main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section0 .main .title_wrap {
    text-align: left;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-10%, -45%);
}

.section0 .main .title_wrap h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.section0 .main .title_wrap p {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 200;
}

/* 기존 section-0 */

.section1and2 {
    background-size: 50%;
}

.section1and2 .inner {
    max-width: 1200px;
    width: calc(100% - 80px);
    margin: 0 auto;
    padding: 0;
}

.section1and2 .pattern {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

.section1and2 .pattern.mobile {
    display: none;
}

.section1and2 .inner .item_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1and2 .inner .item_wrap .text_wrap {
    width: 40.5%;
}

/* .section1 .inner .item_wrap .text_wrap::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #888888;

} */
.section1and2 .inner .item_wrap .text_wrap span {
    margin-bottom: 10px;
    color: #72583e;
    font-size: 16px;


}

.section1and2 .inner .item_wrap .text_wrap h2 {
    margin-bottom: 50px;
}

.section1and2 .inner .item_wrap .text_wrap p {
    margin: 30px 0;
}

.section1 .inner .item_wrap .image_wrap {
    width: 49%;
    min-width: 500px;
    height: 394px;
    position: relative;
    display: flex;
    justify-content: right;
}

.section1 .inner .item_wrap .image_wrap .right {
    /*     width: 233px; */
    width: 76.02%;
    height: 254px;
}

.section1 .inner .item_wrap .image_wrap .right img::after {
    content: "그림제목";
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11;
    display: block;
}

.section1 .inner .item_wrap .image_wrap .left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 41.32%;
    height: 182px;
}

.section1and2 .inner .item_wrap .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section1 */

/* .section2 .inner .item_wrap .text_wrap::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #888888;

} */

.section2 .inner .item_wrap .image_wrap .left .top {
    /*     width: 204px; */
    width: 78.46%;
    height: 323px;
}

.section2 .inner .item_wrap .image_wrap .left .bottom {
    /*     width: 260px; */
    width: 100%;
    height: 130px;
}

.section2 .inner .item_wrap .image_wrap .right {
    /*     width: 233px; */
    width: 46.13%;
    height: 428px;
    margin-bottom: 3px;
}

.section2 .inner .item_wrap .image_wrap {
    width: 42.08%;
    min-width: 500px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.section2 .inner .item_wrap .image_wrap .left {
    width: 51.48%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

/* 기존 section-1 */

.section3and4 {
    position: relative;
    color: #463a2f;
    background-image: url(../img/section/upscalebackground1.png);
    position: relative;
}

.section3and4 .inner {
    max-width: 1200px;
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: right;
}

.section4 .inner {
    justify-content: unset;
}

.section3and4 .inner::before {
    content: "";
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.section3and4 .inner .image {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}

.section3and4 .inner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section3and4 .inner .item_wrap {
    width: 41.35%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.section3 .inner .item_wrap {
    padding-right: 4.325%;
}

.section4 .inner .item_wrap {
    padding-left: 4.325%;
}

.section3and4 .inner .item_wrap .pattern-pc {
    width: 100%;
}

/* 가로 스크롤 없애기 */

.section3and4 .inner .item_wrap .hidden-box {
    display: flex;
    justify-content: center;
    display: none;
    overflow: hidden;
    width: 100%;
}

.section3and4 .inner .item_wrap .hidden-box .pattern-mobile {
    display: block;
    width: 100%;
}

.section1and2 .inner .item_wrap .image_wrap {
    min-width: 300px;
}

.section3and4 .inner .item_wrap .text_wrap {
    font-size: 20px;
}

.section3and4 .inner .item_wrap .text_wrap h3 {
    margin-bottom: 10px;
    font-family: "Eulyoo1945";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #72583e;
}

.section3and4 .inner .item_wrap .text_wrap h2 {
    font-size: 50px;
    font-family: "Eulyoo1945";
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    color: #72583e;
}

.section3and4 .inner .item_wrap .text_wrap p {
    margin-top: 20px;
}

.section3and4 .inner .item_wrap .btn-more.dark {
    padding: 4px 16px;
}

.section3 .inner .image {
    left: 0;
}

.section4 .inner .image {
    right: 0;
}

/* 기존 section3~3 */

.section5 .inner {
    max-width: 1200px;
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.section5 .inner .text_wrap {}

.section5 .inner .text_wrap h2 {
    white-space: nowrap;
    margin-bottom: 30px;
}

.section5 .inner .text_wrap p {
    margin-bottom: 50px;
}

.section .inner .btn-more.mobile {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.section5 .inner .btn-more {}

.section5 .inner .list {}

.section5 .inner .list .palette {
    display: flex;
    justify-content: right;
    gap: 3.47%;
}

.section5 .inner .list .palette.palette-row3,
.section5 .inner .list .palette.palette-top {
    padding-left: 12.78%;
}

.section5 .inner .list .palette.palette-row2,
.section5 .inner .list .palette.palette-bottom {
    padding-right: 12.78%;
}

.section5 .inner .list .palette .item {
    width: 26.08%;
    /*     height: 168px; */
    display: flex;
    justify-content: center;
    position: relative;
}

.section5 .inner .list .palette .item .open_modal_btn>img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.section5 .inner .list .palette .item .open_modal_btn .stone_info {
    width: 89%;
    height: 89%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
}

.section5 .inner .list .palette .item .open_modal_btn .stone_info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.section5 .inner .list .palette .item:hover .open_modal_btn .stone_info img {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.section5 .inner .list .palette .item .open_modal_btn .stone_info .stone_name {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: -1;
    text-shadow: 0px 0px 10px #ff0a0a02;
    white-space: nowrap;
}

.section5 .inner .list .palette .item .open_modal_btn {
    padding: 0;
    cursor: pointer;
}

.section5 .inner .list .palette .item .open_modal_btn .stone_info .stone_name.bright {
    color: #1f1f1f;
    text-shadow: none;
}

.section5 .inner .list .palette .item .open_modal_btn .stone_info .stone_name strong {
    font-size: 18px;
    font-weight: 400;
}

.section5 .inner .list .palette .item .open_modal_btn .stone_info .stone_name span {
    font-size: 18px;
    font-weight: 300;
    font-family: "Eulyoo1945";
}


.modal_container {
    position: fixed;
    background-color: #0000006e;
    color: #463a2f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;


}


.modal_container .modal_contents {
    background-color: #eeeeee;
    max-width: 734px;
    height: 540px;
    padding: 30px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    font-size: 18px;

}
.modal_container .modal_contents .close_btn {
    padding: 0;

    cursor: pointer;
}
.modal_container .modal_contents .close_btn img {}

.modal_contents .stone_name {
    font-family: "Eulyoo1945";
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_contents .stone_name h3 {
    font-size: 30px;
    font-weight: 700;
}

.modal_contents .stone_sub {}

.modal_contents .stone_sub .en {
    font-size: 18px;
}

.modal_contents .contents_wrap {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.modal_contents .contents_wrap .contents_left {
    width: 282px;
}

.modal_contents .contents_wrap .contents_left img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;

}

.modal_contents .contents_wrap .contents_left p {}

.modal_contents .contents_wrap .contents_right {
    
}

.modal_contents .contents_wrap .contents_right .info_wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 40px;

}

.modal_contents .contents_wrap .contents_right .info_wrap li {
    display: flex;
    gap: 20px;
}

.modal_contents .contents_wrap .contents_right .info_wrap li strong {
    width: 50px;
    display: block;
    font-weight: 600;
}

.modal_contents .contents_wrap .contents_right .info_wrap li span {}


.modal_contents .contents_wrap .contents_right .color_chip {}

.modal_contents .contents_wrap .contents_right .color_chip h4 {
    font-weight: 600;
    margin-bottom: 10px;
}
.modal_contents .contents_wrap .contents_right .color_chip .list {
    display: flex;
    gap: 24px;
}
.modal_contents .contents_wrap .contents_right .color_chip .list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.modal_contents .contents_wrap .contents_right .color_chip .list .item .chip {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}
.modal_contents .contents_wrap .contents_right .color_chip .list .item .name {
    font-size: 16px;
}



/* 기존 section-4 */

.section6 {}

.section6 .inner {
    max-width: 1200px;
    width: calc(100% - 80px);
    margin: 0 auto;
    position: relative;
}

.section6 .inner .title_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section6 .inner .title_wrap h2 {
    font-size: 46px;
    /*     margin-bottom: 10px; */
}

.section6 .inner .title_wrap p {
    font-size: 18px;
}

.section6 .inner .list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 50px 0 40px;
}

.section6 .inner .list .item {
    position: relative;
    width: 23.5%;
    height: 282px;
    overflow: hidden;
}

.section6 .inner .list .item a {}

.section6 .inner .list .item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section6 .inner .list .item a::before {
    content: "";
    background-color: #110e0b9a;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.section6 .inner .list .item.active a::before {
    top: 0;
    transition: 0.3s;
}

.section6 .inner .list .item a .text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.section6 .inner .list .item.active a .text {
    display: block;
}

.section6 .inner .list .item a .text strong {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section6 .inner .list .item a .text p {
    font-size: 18px;
}

.section6 .inner .btn-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

/* 기존 section-5 */

#section7 {}

.section7 .inner {
    max-width: 1200px;
    width: calc(100% - 80px);
    margin: 0 auto;
}

.section7 .inner h2 {
    text-align: center;
    margin-bottom: 50px;
}

.section7 .inner .list {
    display: flex;
    justify-content: space-between;
}

.section7 .inner .list .item {
    width: 44.75%;
}

.section7 .inner .list .item .title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section7 .inner .list .item .title_wrap h3 {
    font-family: "Eulyoo1945";
    font-size: 24px;
}

.section7 .inner .list .item .title_wrap .btn-more span {}

.section7 .inner .list .item .title_wrap .btn-more img {}

.section7 .inner .list .item ul {}

.section7 .inner .list .item ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 24px;
}

.section7 .inner .list .item ul li a p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.section7 .inner .list .item ul li span {
    min-width: 84px;
    font-weight: 300;
    color: #888888;
}

/* 기존 section-6 */

.footer {
    display: none;
}

.footer .inner {
    max-width: 1200px;
    width: calc(100% - 360px);
    margin: 0 auto;
    padding: 30px 0;
    font-size: 14px;
}

.footer .inner .footer_nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
}

.footer .inner .footer_nav li {}

.footer .inner .footer_nav li a {}

.footer .inner .info_wrap {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer .inner .info_wrap ul {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer .inner .info_wrap ul li {}

.footer .inner .copyright {
    text-align: center;
    color: #888888;
}

.footer .inner .copyright p {
    font-size: 14px;
}

.lightbox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}

.lightbox img {
    display: block;
    width: 50%;
    max-width: 588px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.github-link {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.github-link:hover,
.github-link:active,
.github-link:visited {
    color: #fff;
    text-decoration: none;
}

/* .section-03 end */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 30px;
        line-height: 1.3;
    }

    p {
        font-size: 16px;
    }

    .btn-more {
        font-size: 14px;
        padding: 4px 16px;
    }

    #fullpage .section:not(#footer) {
        min-height: unset;
    }

    #header .inner {
        height: 60px;
    }

    #header .inner .logo {
        width: 67px;
        height: 47px;
    }

    #header .inner .pc {
        display: none;
    }

    #header .inner .menu_btn {
        display: block;
    }

    #header {}

    #header .mobile {
        display: block;
    }

    .section0 .main .title_wrap h2 {
        font-size: 36px;
        margin-bottom: 5px;
    }

    .section0 .main .title_wrap p {
        margin-left: 5px;
        font-size: 14px;
    }

    /* 기존 section-0 */

    .section1and2 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);
        padding: 120px 0;
    }

    .section1and2 .inner .item_wrap .text_wrap {
        width: 50%;
    }

    .section1and2 .inner .item_wrap .text_wrap h2 {
        margin-bottom: 40px;
    }

    .section1and2 .inner .item_wrap .text_wrap p {
        margin: 20px 0;
    }

    .section1 .inner .item_wrap .image_wrap {
        width: 45%;
        height: 203px;
    }

    .section1 .inner .item_wrap .image_wrap .left {
        width: 41.8%;
        height: 94px;
    }

    .section1 .inner .item_wrap .image_wrap .right {
        /*     width: 233px; */
        width: 71.23%;
        height: 121px;
        /* section1 */
    }

    .section2 .inner .item_wrap .image_wrap .left .top {
        /*     width: 204px; */
        width: 78.46%;
        height: 193px;
    }

    .section2 .inner .item_wrap .image_wrap .left .bottom {
        /*     width: 260px; */
        width: 100%;
        height: 76px;
    }

    .section2 .inner .item_wrap .image_wrap .right {
        /*     width: 233px; */
        width: 46.13%;
        height: 257px;
        margin-bottom: 3px;
    }

    .section2 .inner .item_wrap .image_wrap {
        width: 45%;
        gap: 8px;
    }

    .section2 .inner .item_wrap .image_wrap .left {
        gap: 8px;
    }

    /* 기존 section-1 */

    .section3and4 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);
        padding: 100px 0;
    }

    .section3and4 .inner .item_wrap {
        width: 48.93%;
        z-index: 1;
        gap: 20px;
    }

    .section3 .inner .item_wrap {
        padding-left: 4.325%;
        padding-right: 0;
    }

    .section4 .inner .item_wrap {
        padding-right: 4.325%;
        padding-left: 0;
    }

    .section4 .inner .item_wrap {}

    .section3and4 .inner .item_wrap .text_wrap h3 {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .section3and4 .inner .item_wrap .text_wrap h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .section3and4 .inner .item_wrap .text_wrap p {
        margin: 20px 0;
    }

    .section3and4 .inner .item_wrap .view_btn a {}

    /* 기존 section3~3 */

    .section5 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);
        padding: 100px 0 170px;
        display: block;
    }

    .section5 .inner .text_wrap .btn-more.pc {
        display: none;
    }

    .section5 .inner .btn-more.mobile {
        display: inline-flex;
        margin-top: 40px;
    }

    .section5 .inner .text_wrap {
        text-align: center;
    }

    .section5 .inner .text_wrap h2 {
        margin-bottom: 20px;
    }

    .section5 .inner .text_wrap p {
        margin-bottom: 40px;
    }

    .section5 .inner .list {
        display: flex;
        justify-content: center;
        gap: 16px;
        width: 100%;
    }

    .section5 .inner .list .palette {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .section5 .inner .list .palette.palette-row3,
    .section5 .inner .list .palette.palette-top {
        padding-left: 0;
    }

    .section5 .inner .list .palette.palette-row2,
    .section5 .inner .list .palette.palette-bottom {
        padding-right: 0;
    }

    .section5 .inner .list .palette .item {
        width: 100%;
    }

    .section5 .inner .list .palette .item .open_modal_btn .stone_info .stone_name.bright {
        color: #1f1f1f;
        text-shadow: none;
    }

    /* 기존 section-4 */

    .section6 {}

    .section6 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);
        margin: 0 auto;
        padding: 100px 0 170px;
    }

    .section6 .inner .title_wrap {
        margin-bottom: 40px;
    }

    .section6 .inner .title_wrap h2 {
        /*margin-bottom: 10px; */
    }

    .section6 .inner .title_wrap p {
        font-size: 16px;
    }

    .section6 .inner .list {
        gap: 16px;
    }

    .section6 .inner .list .item {
        position: relative;
        width: 23.5%;
        height: 176px;
        position: relative;
    }

    .section6 .inner .list .item a {}

    .section6 .inner .list .item a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section6 .inner .list .item a .text::after {
        content: "";
        color: #2929299a;
        background-color: #1f1f1f;
        width: 100%;
        height: 100%;
        display: none;
    }

    .section6 .inner .list .item a .text {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section6 .inner .list .item a .text strong {
        font-size: 20px;
    }

    .section6 .inner .list .item a .text p {
        font-size: 14px;
    }

    .section6 .inner .btn-more {}

    /* 기존 section-5 */

    .section7 {}

    .section7 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);
        margin: 0 auto;
        padding: 100px 0;
    }

    .section7 .inner .list .item {
        width: 46%;
    }

    .section7 .inner h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .section7 .inner .list .item .title_wrap h3 {
        font-size: 24px;
    }

    .section7 .inner .list .item .title_wrap .btn-more {}

    .section7 .inner .list .item .title_wrap .btn-more span {}

    .section7 .inner .list .item .title_wrap .btn-more img {}

    .section7 .inner .list .item ul li {
        margin-top: 10px;
    }

    .section7 .inner .list .item ul li span {
        min-width: 75px;
        font-size: 14px;
    }

    /* 기존 section-6 */

    .footer .footer_nav li a {
        white-space: nowrap;
    }

    .footer .inner .info_wrap {
        gap: 2px;
    }

    .footer .inner .info_wrap ul li {
        white-space: nowrap;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 22px;
        line-height: 1.5;
    }

    p {
        font-size: 14px;
    }

    .btn-more {
        font-size: 14px;
    }

    #header {}

    #header .inner {
        height: 60px;
        max-width: 767px;
        width: calc(100% - 40px);
        padding: 0;
    }

    #header .inner .logo {
        width: 54px;
        height: 42px;
    }

    #header .inner .logo a img {}

    #header .inner .menu_btn {
        display: flex;
        align-items: center;
        display: block;
    }

    #header .inner .pc {
        display: none;
    }

    #header .inner .menu_btn {
        display: block;
    }

    #header .mobile {
        display: block;
    }

    #fullpage .section:not(#footer) {
        min-height: unset;
    }

    .section .inner {
        padding: 60px 0;
    }

    #section0 .main .main_visual {
        height: 300px;
        position: relative;
    }

    .section0 .main .title_wrap h2 {
        font-size: 22px;
        margin-bottom: 0px;
    }

    .section0 .main .title_wrap p {
        margin-left: 0px;
        font-size: 12px;
    }

    /* 기존 section-0 */

    .section1and2 .inner {
        max-width: 767px;
        width: calc(100% - 40px);
    }

    .section1and2 .pattern.mobile {
        display: block;
    }

    .section1and2 .pattern.pc {
        display: none;
    }

    .section1and2 .inner .item_wrap .text_wrap {
        width: 100%;
    }

    .section1and2 .inner .item_wrap .text_wrap h2 {
        margin-bottom: 20px;
    }

    .section1and2 .inner .item_wrap .text_wrap p {
        margin: 20px 0;
    }

    .section1 .inner .item_wrap .image_wrap {
        display: none;
    }

    /* section-1 */

    .section2 .inner .item_wrap .image_wrap {
        display: none;
    }

    /* 기존 section-1 */

    .section3 .inner {
        padding: 60px 0 0;
    }

    .section3and4 {
        background-image: none;
    }

    .section3and4 .inner {
        max-width: 767px;
        width: calc(100% - 40px);
        display: block;
    }

    .section3and4 .inner::before {
        display: none;
    }

    .section3and4 .inner .image {
        position: static;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .section3and4 .inner .item_wrap {
        width: 100%;
        padding-left: 0;
        gap: 0;
    }

    .section4 .inner .item_wrap {
        width: 100%;
        padding-right: 0%;
    }

    .section3and4 .inner .item_wrap .pattern-pc {
        display: none;
    }

    .section3and4 .inner .item_wrap .hidden-box {
        display: block;
    }

    .section3and4 .inner .item_wrap .text_wrap {
        margin-bottom: 20px;
    }

    .section3and4 .inner .item_wrap .text_wrap h3 {
        font-size: 14px;
        margin: 20px 0 4px;
    }

    .section3and4 .inner .item_wrap .text_wrap h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .section3and4 .inner .item_wrap .text_wrap p {}

    .section3and4 .inner .item_wrap .view_btn a {}

    /* 기존 section3~3 */

    .section5 .inner {
        max-width: 767px;
        width: calc(100% - 40px);
        display: block;
        padding: 60px 0 120px;
    }

    .section5 .inner .text_wrap {
        text-align: center;
    }

    .section5 .inner .text_wrap h2 {
        margin-bottom: 20px;
    }

    .section5 .inner .text_wrap p {
        margin-bottom: 30px;
    }

    .section5 .inner .text_wrap .btn-more.pc {
        display: none;
    }

    .section5 .inner .btn-more.mobile {
        display: inline-flex;
        margin-top: 30px;
    }

    .section5 .inner .list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 30px;
        width: 100%;
    }

    .section5 .inner .list .palette {
        justify-content: space-between;
        gap: 16px;
    }

    .section5 .inner .list .palette.palette-row3,
    .section5 .inner .list .palette.palette-top {
        padding-left: 0;
    }

    .section5 .inner .list .palette.palette-row2,
    .section5 .inner .list .palette.palette-bottom {
        padding-right: 0;
    }

    .section5 .inner .list .palette .item {
        width: 32.13%;
    }

    .section5 .inner .list .palette .item .open_modal_btn .stone_info .stone_name strong {
        font-size: 14px;
        font-weight: 400;
    }

    .section5 .inner .list .palette .item .open_modal_btn .stone_info .stone_name span {
        display: none;
        font-weight: 600;
    }

    /* 기존 section-4 */

    .section6 {}

    .section6 .inner {
        max-width: 767px;
        width: calc(100% - 40px);
        padding: 60px 0 90px;
        position: static;
    }

    .section6 .inner .title_wrap {
        margin-bottom: 30px;
    }

    .section6 .inner .title_wrap h2 {
        line-height: 1;
        margin-bottom: 15px;
    }

    .section6 .inner .title_wrap p {
        font-size: 14px;
    }

    .section6 .inner .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-bottom: 30px;
    }

    .section6 .inner .list .item {
        width: 100%;
        height: 160px;
    }

    .section6 .inner .list .item a {
        height: 100%;
        display: block;
        position: relative;
    }

    .section6 .inner .list .item a img {}

    /*    .section6 .inner .list .item a .text::after {
        content: "";
        color: #2929299a;
        background-color: #1f1f1f;
        width: 100%;
        height: 100%;
        display: none;
    } */

    .section6 .inner .list .item a::before {
        display: none;
    }

    .section6 .inner .list .item a .text {
        height: 100%;
        display: flex;
        top: 0;
        left: 0;
        transform: none;
        align-items: end;
        text-align: left;
        z-index: 2;
        padding: 8px;
    }

    .section6 .inner .list .item.active a .text {
        display: flex;
    }

    .section6 .inner .list .item a::after {
        content: "";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%);
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .section6 .inner .list .item a .text strong {
        font-size: 18px;
        margin-bottom: 0;
    }

    .section6 .inner .list .item a .text p {
        display: none;
    }

    .section6 .inner .btn-more {}

    /* 기존 section-5 */

    .section7 .inner {
        max-width: 767px;
        width: calc(100% - 40px);
        padding: 60px 0;
    }

    .section7 .inner .list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .section7 .inner .list .item {
        width: 100%;
    }

    .section7 .inner h2 {
        text-align: left;
        margin-bottom: 30px;
    }

    .section7 .inner .list .item .title_wrap h3 {
        font-size: 18px;
    }

    .section7 .inner .list .item .title_wrap .btn-more {}

    .section7 .inner .list .item .title_wrap .btn-more span {
        font-size: 14px;
    }

    .section7 .inner .list .item .title_wrap .btn-more img {
        width: 14px;
        height: 14px;
    }

    .section7 .inner .list .item ul li {
        margin-top: 10px;
    }

    .section7 .inner .list .item ul li a span {
        margin-left: 16px;
        font-size: 14px;
        min-width: 75px;
    }

    .section7 .inner .list .item ul li a p {}

    /* 기존 section-6 */

    .footer {}

    .footer .inner {
        max-width: 767px;
        width: calc(100% - 40px);
        margin: 0 auto;
        padding: 20px 0;
    }

    .footer .inner .footer_nav {
        flex-direction: column;
        gap: 4px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .footer .inner .info_wrap {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0px;
        margin-bottom: 10px;
    }

    .footer .inner .info_wrap ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0;

        justify-content: left;
    }

    .footer .inner .info_wrap ul li {
        margin-right: 16px;
        font-size: 12px;
    }

    .footer .inner .copyright {
        text-align: left;
        color: #888888;
    }

    .footer .inner .copyright p {
        font-size: 12px;
    }
}