@charset "utf-8";
@import url(reset.css);
@import url(../font/font.css);

body {
    color: #EEEEEE;
    font-family: 'pretendard';
    line-height: 1.5;
}

h2 {
    font-family: 'Eulyoo1945';
    font-size: 36px;
    line-height: 1.3;

}

p {
    font-size: 18px;
    font-weight: 400;
}

#header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #1F1F1F;

}

#header .inner {
    height: 80px;
}

#header .inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.33%;
    margin: 0 auto;
}


#header .inner .logo {}

#header .inner .logo a {}

#header .inner .logo a img {}

#header .inner .nav_pc {}


#header .inner .nav_pc .gnb {
    display: flex;
    column-gap: 80px;
    font-size: 18px;
}
#header .inner .nav_pc .gnb>li {}

#header .inner .nav_pc .gnb>li .depth-01 {}

#header .inner .nav_pc .gnb>li .depth-02 {
    position: absolute;
    display: flex;
    line-height: 60px;
    width: 100%;
    height: 60px;
    background-color: #1F1F1F;
    top: 80px;
    left: 0;
    gap: 28px;
    opacity: 0;
}

#header .inner .nav_pc .gnb>li:hover .depth-02 {
    opacity: 1;
    transition: 0.3s;
    display: flex;
    line-height: 60px;
    width: 100%;
    height: 60px;
    background-color: #1F1F1F;
    top: 80px;
    left: 0;
    gap: 28px;
    display: none;
}

#header .inner .nav_pc .gnb>li:hover .depth-02 {
    display: block;
}

#header .inner .nav_pc .gnb>li .depth-02 li {
    font-size: 16px;
    font-weight: 300;

}

#header .inner .nav_pc .gnb>li .depth-02 li a {}

#header .inner .util {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    font-size: 14px;
}

#header .inner .util>li {}


#header .inner .util>li a {}


#header .inner .util>li .icon_wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}


#header .inner .util>li .icon_wrap li {}

#header .inner .util>li .icon_wrap li a {
    display: block;
    width: 24px;
    height: 24px;
}


#header .inner .util>li .icon_wrap li a img {
    width: 100%;
    height: 100%;

}

#header .inner .mobile {
    display: none;
}

#header .inner .menu_btn {}

#header .inner .menu_btn img {}

#header .inner .nav_mobile {}

#header .inner .nav_mobile .close_btn {}

#header .inner .nav_mobile .close_btn img {}

#header .inner .nav_mobile .util {}


#section0 .main .main_visual {
    height: 100vh;
    position: relative;
}

#section0 .main .main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section0 .main .text {
    font-family: 'Eulyoo1945';
    font-size: 14px;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-10%, -40%);
    display: none;
}

#section1 {}

#section1 .inner {
    max-width: 1200px;
    width: calc(100% - 360px);
    margin: 0 auto;
}

#section1 .inner .item_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#section1 .inner .item_wrap .text_wrap {
    width: 40.5%;
}

#section1 .inner .item_wrap .text_wrap::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #888888;

}

#section1 .inner .item_wrap .text_wrap h2 {
    margin-bottom: 50px;

}

#section1 .inner .item_wrap .text_wrap p {
    margin: 30px 0;
}

#section1 .inner .item_wrap .image {
    width: 49%;
    height: 340px;
}

#section1 .inner .item_wrap .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2and3 {
    position: relative;
    color: rgb(54, 29, 0);
    background-image: url(../img/section/upscalebackground1.png);
    position: relative;
}


.section2and3 .inner {
    max-width: 1200px;
    width: calc(100% - 360px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.section2and3 .inner::before {
    content: '';
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;


}

.section2and3 .inner .image {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}

.section2and3 .inner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2and3 .inner .item_wrap {
    width: 40.58%;
    z-index: 1;
}

#section3 .inner .item_wrap {
    width: 40.58%;
    z-index: 1;
}


.section2and3 .inner .item_wrap .text_wrap {
    font-size: 20px;
}


.section2and3 .inner .item_wrap .text_wrap h3 {
    margin-bottom: 10px;
    font-family: 'Eulyoo1945';
    font-weight: bold;
}

.section2and3 .inner .item_wrap .text_wrap h2 {
    font-size: 50px;
    font-family: 'Eulyoo1945';
    font-weight: bold;
}

.section2and3 .inner .item_wrap .text_wrap p {
    margin: 20px 0 30px;
}

.section2and3 .inner .item_wrap .view_btn a {
    display: inline-block;
    font-size: 16px;
    padding: 4px 16px;
    border: 1px solid rgb(54, 29, 0);
}

.section2and3 .inner .item_wrap .view_btn:hover a {
    background-color: rgb(54, 29, 0);
    color: #EEEEEE;
    transition: 0.3s;
}

#section2 .inner {
    align-items: flex-end;
}

#section2 .inner .image {
    left: 0;
}

#section3 .inner {
    align-items: flex-start;
    text-align: right;
}

#section3 .inner .image {
    right: 0;
}




#section4 .inner {
    max-width: 1200px;
    width: calc(100% - 360px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#section4 .inner .list {}


#section4 .inner .list .palette {
    display: flex;
    gap: 24px;
}

#section4 .inner .list .palette.palette-row3,
#section4 .inner .list .palette.palette-top {
    padding-left: 96px;
}


#section4 .inner .list .palette .item {
    width: 168px;
    height: 168px;
    display: flex;
    justify-content: center;
    position: relative;
}

#section4 .inner .list .palette .item a>img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

#section4 .inner .list .palette .item a .stone_info {
    width: 89%;
    height: 89%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
}


#section4 .inner .list .palette .item a .stone_info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

#section4 .inner .list .palette .item:hover a .stone_info img {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

}


#section4 .inner .list .palette .item a .stone_info .stone_name {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: -1;
    text-shadow: 0px 0px 10px #3a3a3ad2;
}

#section4 .inner .list .palette .item a .stone_info .stone_name.bright {
    color: #1F1F1F;
    text-shadow: none;
}

#section4 .inner .list .palette .item a .stone_info .stone_name strong {
    font-size: 16px;
    font-weight: 400;
}

#section4 .inner .list .palette .item a .stone_info .stone_name span {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Eulyoo1945';
}

.section6 {}

.section6 .inner {
    max-width: 1200px;
    width: calc(100% - 360px);
    margin: 0 auto;
}

.section6 .inner .list {
    display: flex;
    justify-content: space-between;
}

.section6 .inner .list .item {
    width: 44.75%;
}

.section6 .inner .list .item .title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section6 .inner .list .item .title_wrap h2 {}

.section6 .inner .list .item .title_wrap .btn-more {
    display: flex;
    border: 1px solid #EEEEEE;
    padding: 4px 13px;
    align-items: center;
}

.section6 .inner .list .item .title_wrap .btn-more span {}

.section6 .inner .list .item .title_wrap .btn-more img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.section6 .inner .list .item ul {}

.section6 .inner .list .item ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.section6 .inner .list .item ul li p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.section6 .inner .list .item ul li span {
    margin-left: 24px;
}








footer {}

footer .inner {
    padding: 30px 0;
    font-size: 14px;
}

footer .inner .footer_nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
}

footer .inner .footer_nav li {}

footer .inner .footer_nav li a {}

footer .inner .info_wrap {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;

}

footer .inner .info_wrap ul {
    display: flex;
    gap: 16px;
    justify-content: center;

}

footer .inner .info_wrap ul li {}

footer .inner .copyright {
    text-align: center;
    color: #888888;
}

footer .inner .copyright p {
    font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 30px;
        line-height: 1.3;

    }

    p {
        font-size: 16px;
    }

    #header .inner .pc {
        display: none;
    }


    #header .inner .menu_btn {
        display: block;
    }


    #section1 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);
    }


    #section1 .inner .item_wrap .text_wrap {
        width: 50%
    }

    #section1 .inner .item_wrap .text_wrap h2 {
        margin-bottom: 40px;

    }

    #section1 .inner .item_wrap .text_wrap p {
        margin: 20px 0;
    }

    #section1 .inner .item_wrap .image {
        width: 45%;
        height: 280px;
    }

    /*    .section2and3 {
        position: relative;
        color: rgb(54, 29, 0);
        background-image: url(../img/section/upscalebackground1.png);
        position: relative;
    }
 */


    .section2and3 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);

    }

    /*     .section2and3 .inner .image {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
    } */

    .section2and3 .inner .item_wrap {
        width: 44.24%;
        z-index: 1;
    }

    .section2and3 .inner .item_wrap .text_wrap h3 {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .section2and3 .inner .item_wrap .text_wrap h2 {
        font-size: 40px;
    }

    .section2and3 .inner .item_wrap .text_wrap p {
        margin: 20px 0;
    }

    .section2and3 .inner .item_wrap .view_btn a {
        font-size: 14px;
        padding: 4px 9px;
    }


    /*     #section4 .inner {
        max-width: 1200px;
        width: calc(100% - 360px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    #section4 .inner .list {}


    #section4 .inner .list .palette {
        display: flex;
        gap: 24px;
    }

    #section4 .inner .list .palette.palette-row3,
    #section4 .inner .list .palette.palette-top {
        padding-left: 96px;
    }


    #section4 .inner .list .palette .item {
        width: 168px;
        height: 168px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    #section4 .inner .list .palette .item a>img {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    #section4 .inner .list .palette .item a .stone_info {
        width: 89%;
        height: 89%;
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        overflow: hidden;
    }


    #section4 .inner .list .palette .item a .stone_info img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
    }

    #section4 .inner .list .palette .item:hover a .stone_info img {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;

    }


    #section4 .inner .list .palette .item a .stone_info .stone_name {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: -1;
        text-shadow: 0px 0px 10px #3a3a3ad2;
    }

    #section4 .inner .list .palette .item a .stone_info .stone_name.bright {
        color: #1F1F1F;
        text-shadow: none;
    }

    #section4 .inner .list .palette .item a .stone_info .stone_name strong {
        font-size: 16px;
        font-weight: 400;
    }

    #section4 .inner .list .palette .item a .stone_info .stone_name span {
        font-size: 14px;
        font-weight: 300;
        font-family: 'Eulyoo1945';
    } */


    .section6 {}

    .section6 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);
    }

    .section6 .inner .list .item {
        width: 46%;
    }


    .section6 .inner .list .item .title_wrap h2 {
        font-size: 24px;
    }

    .section6 .inner .list .item .title_wrap .btn-more {
        padding: 2px 14px;
    }

    .section6 .inner .list .item .title_wrap .btn-more span {
        font-size: 14px;
    }

    .section6 .inner .list .item .title_wrap .btn-more img {
        width: 14px;
        height: 14px;
    }

    .section6 .inner .list .item ul li {
        margin-top: 10px;
    }

    .section6 .inner .list .item ul li span {
        margin-left: 16px;
    }


    /* 
    footer {}

    footer .inner {
        padding: 30px 0;
        font-size: 14px;
    }

    footer .inner .footer_nav {
        display: flex;
        justify-content: center;
        gap: 40px;
        font-size: 16px;
        font-weight: 600;
    }

    footer .inner .footer_nav li {}

    footer .inner .footer_nav li a {}

    footer .inner .info_wrap {
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 4px;

    }

    footer .inner .info_wrap ul {
        display: flex;
        gap: 16px;
        justify-content: center;

    }

    footer .inner .info_wrap ul li {}

    footer .inner .copyright {
        text-align: center;
        color: #888888;
    }

    footer .inner .copyright p {
        font-size: 14px;
    } */

}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 22px;
        line-height: 1.5;

    }

    p {
        font-size: 14px;
    }

    #header .inner .pc {
        display: none;
    }


    #header .inner .menu_btn {
        display: block;
    }


    #section1 .inner {
        max-width: 767px;
        width: calc(100% - 40px);
    }


    #section1 .inner .item_wrap .text_wrap {
        width: 100%;
    }

    #section1 .inner .item_wrap .text_wrap h2 {
        margin-bottom: 0px;

    }

    #section1 .inner .item_wrap .text_wrap p {
        margin: 20px 0;
    }

    #section1 .inner .item_wrap .image {
        display: none;
    }/* 책갈피@@@@@@@@@@@@@@@@@@ */

    /*    .section2and3 {
        color: rgb(54, 29, 0);
        background-image: url(../img/section/upscalebackground1.png);
        position: relative;
    }
 */


    .section2and3 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);

    }

    /*     .section2and3 .inner .image {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
    } */

    .section2and3 .inner .item_wrap {
        width: 44.24%;
        z-index: 1;
    }

    .section2and3 .inner .item_wrap .text_wrap h3 {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .section2and3 .inner .item_wrap .text_wrap h2 {
        font-size: 40px;
    }

    .section2and3 .inner .item_wrap .text_wrap p {
        margin: 20px 0;
    }

    .section2and3 .inner .item_wrap .view_btn a {
        font-size: 14px;
        padding: 4px 9px;
    }

    /*     #section4 .inner {
        max-width: 1200px;
        width: calc(100% - 360px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    #section4 .inner .list {}


    #section4 .inner .list .palette {
        display: flex;
        gap: 24px;
    }

    #section4 .inner .list .palette.palette-row3,
    #section4 .inner .list .palette.palette-top {
        padding-left: 96px;
    }


    #section4 .inner .list .palette .item {
        width: 168px;
        height: 168px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    #section4 .inner .list .palette .item a>img {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    #section4 .inner .list .palette .item a .stone_info {
        width: 89%;
        height: 89%;
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        overflow: hidden;
    }


    #section4 .inner .list .palette .item a .stone_info img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
    }

    #section4 .inner .list .palette .item:hover a .stone_info img {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;

    }


    #section4 .inner .list .palette .item a .stone_info .stone_name {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: -1;
        text-shadow: 0px 0px 10px #3a3a3ad2;
    }

    #section4 .inner .list .palette .item a .stone_info .stone_name.bright {
        color: #1F1F1F;
        text-shadow: none;
    }

    #section4 .inner .list .palette .item a .stone_info .stone_name strong {
        font-size: 16px;
        font-weight: 400;
    }

    #section4 .inner .list .palette .item a .stone_info .stone_name span {
        font-size: 14px;
        font-weight: 300;
        font-family: 'Eulyoo1945';
    } */

    .section6 {}

    .section6 .inner {
        max-width: 1023px;
        width: calc(100% - 80px);
    }

    .section6 .inner .list .item {
        width: 46%;
    }


    .section6 .inner .list .item .title_wrap h2 {
        font-size: 24px;
    }

    .section6 .inner .list .item .title_wrap .btn-more {
        padding: 2px 14px;
    }

    .section6 .inner .list .item .title_wrap .btn-more span {
        font-size: 14px;
    }

    .section6 .inner .list .item .title_wrap .btn-more img {
        width: 14px;
        height: 14px;
    }

    .section6 .inner .list .item ul li {
        margin-top: 10px;
    }

    .section6 .inner .list .item ul li span {
        margin-left: 16px;
    }


    /* 
    footer {}

    footer .inner {
        padding: 30px 0;
        font-size: 14px;
    }

    footer .inner .footer_nav {
        display: flex;
        justify-content: center;
        gap: 40px;
        font-size: 16px;
        font-weight: 600;
    }

    footer .inner .footer_nav li {}

    footer .inner .footer_nav li a {}

    footer .inner .info_wrap {
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 4px;

    }

    footer .inner .info_wrap ul {
        display: flex;
        gap: 16px;
        justify-content: center;

    }

    footer .inner .info_wrap ul li {}

    footer .inner .copyright {
        text-align: center;
        color: #888888;
    }

    footer .inner .copyright p {
        font-size: 14px;
    } */

}